* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Nuosu SIL', serif;
  font-size: 1.2rem;
  min-height: 100%; }

.grid-container {
  background-color: #b81597;
  display: grid;
  gap: 10px;
  grid-template: "header"  100px "navbar"  50px "main"    auto "footer"  100px; }
  .grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
    text-align: center; }

.header {
  grid-area: header;
  background-color: #000606; }

.navbar {
  grid-area: navbar;
  background-color: #d137df;
  display: flex;
  align-items: center; }
  .navbar ul {
    display: flex; }
    .navbar ul li {
      list-style: none;
      margin-left: 36px; }
      .navbar ul li a {
        border: none;
        padding: 10px 10px;
        border-radius: 50px;
        box-shadow: 1px 1px 30px -6px #fcf9fc;
        background: linear-gradient(to right, #87058e, #1a022c);
        text-decoration: none;
        font-size: 16px;
        color: aliceblue;
        text-transform: uppercase; }
        .navbar ul li a:hover {
          border: none;
          padding: 10px 10px;
          border-radius: 50px;
          box-shadow: 1px 1px 30px -6px #a4318f;
          background: linear-gradient(to right, #e8e1e9, #140122);
          cursor: pointer; }

.main {
  grid-area: main;
  background-color: #f5f5f5;
  padding-top: 50px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center; }
  .main h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 600px; }
  .main h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 500px; }
  .main p {
    font-size: 18px;
    margin-top: 5px;
    text-align: justify;
    padding: 30px; }
  .main ul {
    display: inline; }
    .main ul li {
      list-style: disc;
      margin-left: 50px;
      margin-top: 10px; }
      .main ul li p {
        font-size: 16px;
        margin-top: -40px; }

.footer {
  grid-area: footer;
  text-align: center;
  padding: 30px;
  background-color: #090101;
  color: #f1e9e9;
  text-decoration: none; }

/*------------------responsive----------------------------*/
@media (max-width: 900px) {
  .grid-container {
    background-color: #b81597;
    grid-template: "header  header header"  100px "navbar  navbar navbar" 50px "main    main   main" auto "footer  footer footer"  100px / 200px    auto   200px; }
  .navbar {
    display: flex;
    justify-content: space-around; }
  .main {
    max-width: 800px; }
    .main img {
      width: 500px;
      justify-content: center;
      margin-bottom: 20px; } }

@media (max-width: 720px) {
  .grid-container {
    background-color: #b81597;
    grid-template: "header  header header" 100px "navbar  navbar navbar" 50px "main    main   main"   auto "footer  footer footer" 100px / 140px    auto    200px; }
  .navbar {
    display: flex;
    justify-content: space-around; }
  .main {
    max-width: 600px; }
    .main img {
      width: 300px;
      justify-content: center;
      margin-bottom: 10px; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100px;
  margin-top: 0px;
  position: fixed;
  z-index: 1;
  background-color: #000606;
  padding: 40px; }

.conteiner-menu {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between; }

.logo {
  height: 100%;
  display: flex;
  align-items: center; }
  .logo img {
    width: 100px; }

.menu {
  display: flex;
  align-items: center; }
  .menu ul {
    display: flex; }
    .menu ul li {
      list-style: none;
      margin-left: 36px; }
      .menu ul li a {
        text-decoration: none;
        font-size: 16px;
        color: aliceblue;
        text-transform: uppercase; }

#selector:hover {
  border: none;
  padding: 10px 40px;
  border-radius: 50px;
  box-shadow: 1px 1px 30px -6px #a4318f;
  background: linear-gradient(to right, #87058e, #1a022c);
  cursor: pointer;
  transition: 0.7s; }

.menu nav img, .menu #btn_menu {
  display: none; }

@media screen and (max-width: 720px) {
  .menu nav {
    position: fixed;
    top: 0;
    right: -250px;
    background: #010009;
    width: 250px;
    height: 100vh;
    padding: 40px;
    z-index: 1; }
  .menu ul {
    flex-direction: column;
    margin-top: 40px; }
    .menu ul li {
      margin-top: 30px;
      margin-left: 0; }
      .menu ul li a {
        color: #bebebe; }
  #selector {
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 30px -6px #a4318f;
    background: linear-gradient(to right, #87058e, #1a022c);
    cursor: pointer; }
  .menu ul li a:hover {
    color: #020000; }
  #selector:hover {
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 30px -6px #ecd5e7;
    background: linear-gradient(to right, #87058e, #1a022c); }
  .menu nav img {
    width: 100px;
    display: block; }
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none; }
  .menu #btn_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #faf7f8;
    font-size: 24px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -6px #d0f0d2; }
    .menu #btn_menu:hover {
      box-shadow: 1px 1px 30px -6px #a4318f;
      background: linear-gradient(to right, #87058e, #1a022c);
      transition: all 300ms; } }
