@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*-----------inicio----------------*/
.index{
  font-family: 'Montserrat', sans-serif;
}

header{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100px;
  margin-top: 0px;
  position: fixed;
  z-index: 1;
  background-color: rgb(0, 6, 6);
  padding: 40px;
}
.conteiner-menu{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

.logo{
  height: 100%;
  display: flex;
  align-items: center;

}


.logo img{
  width: 100px;
}

.menu{
  display: flex;
  align-items: center;

}

.menu ul{
  display: flex;
}

.menu ul li{
  list-style: none;
  margin-left: 36px;
}

.menu ul li a{
  text-decoration: none;
  font-size: 16px;
  color: aliceblue;
  text-transform: uppercase;
}

#selector:hover{
  border:none ;
  padding: 10px 40px;
  border-radius: 50px;
  box-shadow: 1px 1px 30px -6px #a4318f;
  background: linear-gradient(to right,rgb(135, 5, 142),rgb(26, 2, 44));
  cursor: pointer;
  transition: 0.7s;
}

.menu nav img{
  display: none;
}

.menu #btn_menu{
  display: none;
}

/*----------------cover-------------------*/

.conteiner-cover{
  width: 100%;
  height: 800px;
  background-image: url(../img/fondo1.webp);
  padding: 40px;
  
}
.cover{
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteiner-cover .text{
  max-width: 400px;
}
.conteiner-cover .text h1{
  font-size: 36px;
  font-weight: 600px;
  color: rgb(209, 222, 233);
}
.conteiner-cover .text p{
  font-size: 18px;
  margin-top: 40px;
  color: #d0f0d2;
}

.conteiner-cover .text input{
  padding: 18px 40px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  margin-top: 40px;
  background: linear-gradient(to right,rgb(136, 5, 143),rgb(26, 2, 44));
  color: aliceblue;
  cursor: pointer;
  box-shadow: 1px 1px 30px -12px #a4318f;
  transition: all 300ms;
}
.conteiner-cover .text input:hover{
  box-shadow: 1px 1px 30px -6px #a4318f;
}

.conteiner-cover .fondo img{
  height: 400px;
  width: 600px;
  animation: move-img 6s linear infinite;
}
@keyframes move-img {
  0%{
      transform: translateY(15px);
  }50%{
      transform: translateY(0px);
  }100%{
      transform: translateY(15px);
  }
  
}
.conteiner-video{
  display: block;
}
.video{
 background-color: black;
 display: flex;
 justify-content: space-around;
}

footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 80px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container-footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .container-footer .redes{
  margin-right: 58px;
}
footer .container-footer .redes .social{
  width: 40%;
}
footer .container-footer h2{
  position: relative;
  color: #fbf8f8;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container-footer h2::before{
  content:'';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #a4318f;
}
.sci{
  margin-top: 20px;
  display: flex;
}
.sci li{
  list-style: none;
}
.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a:hover{
  background:#a4318f;
}
.sci li a  .fab{
  color: #fff;
  font-size: 20px;
}
.SiteMap{
  position: relative;
  width: 25%;
}
.SiteMap ul li{
  list-style: none;
}
.SiteMap ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.SiteMap ul li a:hover{
  color: #fff;
}
.copy{
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

/*------------------responsive----------------------------*/

@media screen and (max-width:1700px){

  .conteiner-cover{
    background-position: 5px 10px;
    
  }
}

@media screen and (max-width:1200px){

  header{
      padding: 40px;
  }
  .conteiner-cover{
    background-position:-5px -10px;
    
  }
  .conteiner-cover .fondo img{
    width: 500px;
  }

}

@media screen and (max-width: 1020px){

  .conteiner-cover .fondo img{
    display: none;
  }
  .conteiner-cover .text{
    max-width: 600px;
  }
}

@media screen and (max-width: 720px){

  .menu nav{
    position: fixed;
    top: 0;
    right: -250px;
    background: rgb(1, 0, 9);
    width: 250px;
    height: 100vh;
    padding: 40px;
    z-index: 1;
  }
  .menu ul{
    flex-direction: column;
    margin-top: 40px;
  }

  .menu ul li{
    margin-top: 30px;
    margin-left: 0;
  }

  .menu ul li a{
    color: #bebebe;
  }

  #selector{
    border:none ;
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 30px -6px #a4318f;
    background: linear-gradient(to right,rgb(135, 5, 142),rgb(26, 2, 44));
    cursor: pointer;
  } 
  .menu ul li a:hover{
    color: #020000;
  }

  #selector:hover{
    border:none ;
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 30px -6px #ecd5e7;
    background: linear-gradient(to right,rgb(135, 5, 142),rgb(26, 2, 44));

  }

  .menu nav img{
    width: 100px;
    display: block;
  }

  #back_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .menu #btn_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #faf7f8;
    font-size: 24px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -6px #d0f0d2;



    
  }

  .menu #btn_menu:hover{
    box-shadow: 1px 1px 30px -6px #a4318f;
    background: linear-gradient(to right,rgb(135, 5, 142),rgb(26, 2, 44));
    transition: all 300ms;
  }

  .conteiner-video{
  
    display: grid;
    justify-content: end;
    align-items: center;
  }

  .video{
    
   
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px;
  }

  .v{
    width: auto;
    
  }


  
}

/*---------------------formulario-----------------------------*/


.detras{
  padding-top: 110px;
  background-image: url(../img/imagen\ de\ fondo.webp) ;
  background-size: cover; 
}

.formulario{
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(93, 4, 94, 0.9);
  position: relative;
  z-index: 0;
  background-color: rgba(243, 246, 246, 0.8);
}

.formulario__titulo{
  text-align: center;
  margin-top: 0;
  color: rgb(1, 28, 28);
}

.formulario__input, .formulario__label,
.formulario__submit {
  display: block;
  width: 100%;
  font-size: 1.3em;
}

.formulario__input{
  padding: 20px;
  border: 1px solid rgba(12, 1, 1, 0.8);
  margin-bottom: 30px;
  background: rgba(161, 53, 120, 0.3);
}

.formulario__input:focus{
  outline: 1px solid rgba(0, 0, 0,0.7);
}

.formulario__input:focus + .formulario__label{
  margin-top: -135px;
  color: black;
}

.formulario__label{
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -1; 
  color: rgb(11, 6, 6);
  transition: all 0.2s;
}

.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: end;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#userAge {
  width: 40px;
}

.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right:5px;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.radio,
.checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

.formulario__submit{
  background: linear-gradient(to right,rgb(135, 5, 142),rgb(26, 2, 44));
  color: #e7f3e7;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 50px -12px #a4318f;
}

.fijar{
  margin-top: -135px;
}

/*------------------responsive----------------------------*/

@media screen and (max-width: 720px) {
  .formulario{
    width: 400px;
    display: block;
  }
  
}

/*------------------Clan----------------------------*/

.Clan{
  background: repeating-linear-gradient(90deg, #090909c7, #e3e1e1c7, #090909c7);
  
}
.intro{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 60px;
}
.intro h4{
  font-style: italic;
  text-align: center;
}
.intro h5{
  color: rgb(110, 106, 106);
  text-align: start;
}

.titulo{
  color: #230326;
  text-align: center;
  font-size: 60px;
}

.intro img{
  width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  animation-name: latir;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  
}

@keyframes latir {
 
  0%{
    transform: scale(.5);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(.5);
  }
}

.intro h1{
  color: #230326;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 60px;
  font-weight: 600px;

}
.intro h2{
  font-size: 30px;
  font-weight: 400;
}
.intro p{
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
}

/*------------------Actividades----------------------------*/

.actividades{
  background-image: url(../img/tarjeta7.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
}

.contene{
  padding-top: 110px;
  max-width: 1200px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 20px;
}

.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

figure {
	width: 400px;
	height: 300px;
	margin:0;
	position: relative;
  transition: all ease .5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
}  

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: rgb(29, 7, 7);;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
  
background: rgba(188,151,92,1);
background: -moz-linear-gradient(left, rgba(188,151,92,1) 0%, rgba(240,226,204,1) 0%, rgba(200,170,121,0.47) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(188,151,92,1)), color-stop(0%, rgba(240,226,204,1)), color-stop(100%, rgba(200,170,121,0.47)));
background: -webkit-linear-gradient(left, rgba(188,151,92,1) 0%, rgba(240,226,204,1) 0%, rgba(200,170,121,0.47) 100%);
background: -o-linear-gradient(left, rgba(188,151,92,1) 0%, rgba(240,226,204,1) 0%, rgba(200,170,121,0.47) 100%);
background: -ms-linear-gradient(left, rgba(188,151,92,1) 0%, rgba(240,226,204,1) 0%, rgba(200,170,121,0.47) 100%);
background: linear-gradient(to right, rgba(188,151,92,1) 0%, rgba(240,226,204,1) 0%, rgba(200,170,121,0.47) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc975c', endColorstr='#c8aa79', GradientType=1 );

}

.contenedor_tarjeta:nth-child(2) figure .trasera{
  
background: rgba(209,217,171,1);
background: -moz-linear-gradient(left, rgba(209,217,171,1) 0%, rgba(171,202,18,0.41) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(209,217,171,1)), color-stop(100%, rgba(171,202,18,0.41)));
background: -webkit-linear-gradient(left, rgba(209,217,171,1) 0%, rgba(171,202,18,0.41) 100%);
background: -o-linear-gradient(left, rgba(209,217,171,1) 0%, rgba(171,202,18,0.41) 100%);
background: -ms-linear-gradient(left, rgba(209,217,171,1) 0%, rgba(171,202,18,0.41) 100%);
background: linear-gradient(to right, rgba(209,217,171,1) 0%, rgba(171,202,18,0.41) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d9ab', endColorstr='#abca12', GradientType=1 );

}

.contenedor_tarjeta:nth-child(3) figure .trasera{
  
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(155,222,243,0.69) 50%, rgba(255,255,255,0.37) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(155,222,243,0.69)), color-stop(100%, rgba(255,255,255,0.37)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(155,222,243,0.69) 50%, rgba(255,255,255,0.37) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(155,222,243,0.69) 50%, rgba(255,255,255,0.37) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(155,222,243,0.69) 50%, rgba(255,255,255,0.37) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(155,222,243,0.69) 50%, rgba(255,255,255,0.37) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

}

.contenedor_tarjeta:nth-child(4) figure .trasera{
  background: rgba(255,232,204,1);
  background: -moz-linear-gradient(left, rgba(255,232,204,1) 0%, rgba(255,191,112,0.64) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,232,204,1)), color-stop(100%, rgba(255,191,112,0.64)));
  background: -webkit-linear-gradient(left, rgba(255,232,204,1) 0%, rgba(255,191,112,0.64) 100%);
  background: -o-linear-gradient(left, rgba(255,232,204,1) 0%, rgba(255,191,112,0.64) 100%);
  background: -ms-linear-gradient(left, rgba(255,232,204,1) 0%, rgba(255,191,112,0.64) 100%);
  background: linear-gradient(to right, rgba(255,232,204,1) 0%, rgba(255,191,112,0.64) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe8cc', endColorstr='#ffbf70', GradientType=1 );  
}

.contenedor_tarjeta:nth-child(5) figure .trasera{
  
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 9%, rgba(152,150,152,1) 45%, rgba(11,6,11,0.38) 99%, rgba(8,3,8,0.38) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(9%, rgba(246,246,246,1)), color-stop(45%, rgba(152,150,152,1)), color-stop(99%, rgba(11,6,11,0.38)), color-stop(100%, rgba(8,3,8,0.38)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 9%, rgba(152,150,152,1) 45%, rgba(11,6,11,0.38) 99%, rgba(8,3,8,0.38) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 9%, rgba(152,150,152,1) 45%, rgba(11,6,11,0.38) 99%, rgba(8,3,8,0.38) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 9%, rgba(152,150,152,1) 45%, rgba(11,6,11,0.38) 99%, rgba(8,3,8,0.38) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 9%, rgba(152,150,152,1) 45%, rgba(11,6,11,0.38) 99%, rgba(8,3,8,0.38) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#080308', GradientType=1 );

}

figure .trasera .titulo {
	color: rgb(29, 7, 7);
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

figure .trasera hr {
	height: 2px;
	background: rgb(29, 7, 7);
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p {
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
  
}